*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e9ebee;
    margin: auto;
    display: flex;
    justify-content: center;
}
.contenue{
    padding: 10px;
    line-height: 1.5;
    margin-top: 15px;
}
.contenue p{
    color: rgb(90, 85, 85);
}
.container{
    background-color: white;
    width: 100%;
    max-width: 450px;
    margin-top: 50px;
    overflow: scroll;
    padding: 7px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
}
h1{
    color: #1c1e21;
    font-size: 30px;
    margin: 5px;
}
hr{
   margin: 7px;
   margin-bottom: 20px;
   margin-top: 20px;
}
form{
   margin: 5px;
}
#meme input{
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    outline-color: #060607;
    border:  solid 1px #060607;
    font-size: 15px;
}
#meme input[type=text]{
    justify-content: space-between;
}
.mira, .ima{
    width: 49%;
}
.card{
    text-align: left;
    padding-bottom: 10px;
}
.yac{
    text-align: left;
    padding-top: 20px;
}
.mora{
    display: flex;
    justify-content: space-between;
    color: #1c1e21;
}
select{
    width: 30%;
    padding: 15px;
    color: #1c1e21;
    font-size: 15px;
    font-weight: 800;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.08);
    outline-color: #060607;
}
.card, .head{
    color: rgb(90, 85, 85);
    font-weight: 800;
}
.head{
    text-align: left;
    padding-top: 15px;
}
.main{
    display: flex;
    padding-top: 5px;
    border: 2px;
    justify-content: space-between;
}
.fin{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    justify-content: space-evenly;
    width: 30%;
    height: 50px;
    font-size: 15px;
    font-weight: 800;
    gap: 5px;
    margin-bottom: 20px;
    border: solid 1px rgb(90, 85, 85);
}
button{
    width: 100%;
    margin-top: 30px;
    background-color: #42b72a;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
.yac a{
    text-decoration: none;
    color: #1877f2;
    font-weight: 300;
}
.yac a:hover{
    text-decoration: underline;
    border-bottom: #1877f2;
}
button:hover{
    background-color: #5dad4b;
    cursor: pointer;
    box-shadow: 2px 6px 2px rgb(86, 81, 81);
}
@media (max-width: 768px){
    .mora{
        flex-direction: column;
    }
    select{
        width: 100%;
        margin-top: 10px;
    }
    .main{
        flex-direction: column;
    }
    .fin {
        width: 50%;
        justify-content: left;
        padding-left: 10px;
        
    }
}
@media (max-width: 425px){
    .container{
        margin: 10px;
        font-size: 16px;
    }
}


